/*CSS FOR ADMIN*/
/* new clearfix */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
html .clearfix { zoom: 1; } /* IE6 */
html:first-child+html .clearfix { zoom: 1; } /* IE7 */

@font-face {
    font-family: 'Mandingo';
    src: url('../fonts/MANDINGO.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MANDINGO.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MANDINGO.woff') format('woff'), /* Modern Browsers */
    url('../fonts/MANDINGO.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MANDINGO.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Opensansreg';
    src: url('../fonts/OpenSans-Regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), /* Modern Browsers */
    url('../fonts/OpenSans-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/OpenSans-Regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

}
.error{
    color: red;
}
#message_ajax{
    margin-left: 20px;
}


/*----------------------------TOPBAR------------------------*/
.center_container{
    width:950px;
    height: auto;
    margin: auto;
}
.Topbar{
    width: 100%;
    height:70px;
    /* background-color:#000c7d;*/
    background-color:#0057a8;
    position: fixed;
    top:0px;
    z-index: 9999;
    color: white;
}
.Topbar a{
    color: inherit;
    text-decoration: none;
}
#center_topbar{
    position: relative;
    margin-top: 0;
}

.login_ul{
    width: 50px !important;
}
.logo2{
    width:auto;
    float: left;
}
.logo2 img{
    max-height: 65px;
    margin-top: 4px;
}
#nav
{
    /* container */
}
#nav > a
{
    display: none;
}
#nav li
{
    position: relative;
    line-height: 70px;
    font-size: 12px;
}

/* first level */

#nav > ul
{
    float: right;
    /*width:642px;*/
    /*width:449px;*/
    width:300px;
    height: 100%;
    height: 30px;
    padding-left: 40px;
    margin: 16px 0px;
    /*height: 3.75em;*/
}
#nav > ul > li
{
    height: 100%;
    float: left;
    list-style: none;
    list-style: none;
    list-style-type: none;
    display: inline;
    text-align: center;

    padding: 0 30px;
    line-height: 30px;
    margin-bottom: 2px;
    -webkit-transition: all .2s ease-in-out;
    text-align: left;
    text-transform: uppercase;
    /*width: 53px;*/
    border-right: 1px solid #fff;
}
#nav > ul > li:last-child{
    border: none;
    padding-right: 0;
}
/*-------------------------------END TOPBAR-----------*/



.login_blue{
    background-color: #0057a8 !important;
    color: white !important;
    margin: 10px 0px;
    padding: 8px 5% !important;
    width: 90% !important;
}
.login_label{
    color: #01305c !important;
    font-size: 16px;
    margin: 10px 0px;
}
.loginbox .logo img {
    max-width: 70%;

}
.loginbox button {
 float: right;
    width: 25%;
    background-color: #0057a8;
    border: 1px solid #0057a8;
    margin: 10px 0px;
}
.loginbox button:hover { /*background-color: #f0721e;*/ }

.login_option{
    width: 100%;
    text-align: center !important;
    font-size: 1.5em;
    color:#0057a8;
}
.keep{
    font-size: 1em !important;
    color:#0057a8 !important;
}
.login_option a{
    color: inherit;
    text-decoration: underline;

}
.login_recover{
    margin-top: 5%;
    width: 100%;
    text-align: center !important;
    font-size: 1.1em;
    color:#01305c;
}
.login_recover a{
    color: inherit;
    text-decoration: underline;

}

.signup_bg{
    background: #fff url(../img/bg_land.jpg); background-size: cover; background-position: center center;
    font-size: 14px;
}
#login{
    font-size: 14px;
}
.signup_blue{
    background-color: #0057a8 !important;
    color: white !important;
    margin: 10px 0px;
    padding: 5px 5% !important;
    width: 90% !important;
}
.signup_select{
    width: 100% !important;
    font-size: 14px;
    -webkit-appearance: none;
    padding: 5px;
    background-image:url(../img/icons/dropdown_arrow.png) !important;
    background-repeat: no-repeat !important;
    background-position: right;
    overflow: hidden;
}
.signup_select:focus{
    background-repeat: no-repeat !important;
    background-position: right;
}

.signup_backbtn{
    float: left; text-align: center; height: 30px; line-height: 30px;
    width: 25%;
    background-color: #0057a8;
    border: 1px solid #0057a8;
    margin: 10px 0px;
    font-size: 12px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    font-weight: bold;
    color: white !important;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.politica_privacidad a{
    text-decoration: underline;
}
#institution_label{
    display: none;
}
#select_institution{
    display: none;
}
/*------------------------------------------------------------------------ADMIN SECTION------------------------------------------*/
/*ADMIN CERRRAR SESION*/
.user_logout1 {
    padding: 6px 18px 6px 6px; color: #003362; cursor: pointer;
}
.user_logout1:hover { background-color: #0057a8; color: white !important; }
.user_logout1:hover a{ color: white}

.bg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 90%;
    background: url(../img/nubes_bg.png) 0% 0% repeat;
    background-size: contain;
    z-index: -3;
    opacity: .2;


}
.vernav2{
    border-right:1px solid #c3e4e8;
}
.vernav2 ul li{
    border-bottom: 1px solid #c3e4e8;
}
.vernav2 ul li.active{
    background-color: /*#fcfcfc;*/#dff1fc;
}
.vernav2 ul li a:hover { background-color: /*#fcfcfc;*/#dff1fc; }
.iconmenu ul li a.history_icon {
    background-image: url(../img/icons/historia_icon.png) !important;
}
.iconmenu ul li a.user_icon {
    background-image: url(../img/icons/user_icon.png) !important;
}
.iconmenu ul li a.preselect_icon {
    background-image: url(../img/icons/preselect_icon.png) !important;
}
.iconmenu ul li a.finalist_icon {
    background-image: url(../img/icons/finalist_icon.png) !important;
}
.iconmenu ul li a.report_icon {
    background-image: url(../img/icons/report_icon.png) !important;
}
.iconmenu ul li a {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-transform: none;
    font-weight: 200;
    padding-left: 60px;
    font-size: 16px;
}
.pagetitle{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-size: 18px !important;
}
.pagesubtitle {
    margin: 0 20px 10px 20px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
}
.headermenu li a span.icon-flatscreen{
    /*background: url(../img/icons/screen_icon.png) no-repeat center center !important;*/
    background: url(../img/icons/screen_icon2.png) no-repeat center center !important;
 }
.headermenu li.current a{
    background: url(../img/icons/arrow-active2.png) no-repeat center bottom !important;
}
.headermenu li{
    border: none!important;
}
.headermenu{
    border: none!important;
}
.user_logout1 a{
    color: white !important;
}
/*TABLES*/
/*.dataTables_length{
    background-color:#cbe6fe ;
    webkit-box-shadow:none;
    box-shadow:none;
    border:none;
}*/
.table_blue{
    background-color: #cbe6fe;
    border: 1px solid #5195d6;
    font-size: 16px;
}
.t_white{
    background-color: white;
    color: #003362;
    border-color:#5195d6 !important ;
}
.gradeA td{
    padding: 20px 10px;
    height: 50px;
    border:none !important;
    border-left: 1px solid #5195d6 !important;
    border-bottom: 1px solid #5195d6 !important;
}
.underline{
    text-decoration: underline;
}

.btn_admin{
    text-decoration: none;
    background-color: #0057a8;
    color: white;
    padding: 5px 15px;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 12px!important;
}
.finalist_wrap_cell{
    line-height: 40px;
    height:auto;
    vertical-align: middle;
}
.finalist_cup{
    margin-left:5px ;
    max-height: 40px ;
    vertical-align: middle ;
}

.position_number{
    width: 6px;
    height: 16px;
    padding: 5px 7px;
    background-color: white;
    color: #003362;
    margin-left: 5px;
    font-size: 11px;
}
.position_next,.position_last,.position_first,.position_prev{
    padding: 5px 7px;
    margin-left: 5px;
    color: #003362;
    text-decoration: underline;
    cursor: pointer;
    font-size: 11px;
}


.form_wrap{
    width: 500px;
    padding: 15px;
    height:auto;
    background-color: #cbe6fe;
}
.form_btnwrap{
    width:100%;
    height:50px;
    display: inline-block;
}
.form_wrap button {
    float: right;
    width: 25%;
    background-color: #0057a8;
    border: 1px solid #0057a8;
    margin: 10px 0px;
}
.success_message{
    color: white;
    background-color:#09c52e;
    padding: 5px 10px;
}
.error_message{
    color: white;
    background-color:#c52e20;
    padding: 5px 10px;
}

/*----FORM FOR CUENTOS E HISTORIAS--*/
.form_blue{
    background-color: #70c6ff;
    width: 95%;
    height: 545px;
    padding: 10px;
    margin-bottom: 50px;
}
.form_white{
    background-color:white;
    width: 100%;
    height: 350px;
    overflow: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;


    width:50%;float:right;background-color: white;

}
.form_center{
    width: 80%;
    height: 330px;
    margin: auto;
    margin-top:20px;
    text-align: center;
    /*background-color: rgba(255,255,255,.4);*/

}
.form_center select{
    width: 100% !important;
}
.Image_preview{
    width:130px;
    height: 130px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #dee1e1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.cuento_label{
    color: #485b79;
    font-weight: normal;
    font-size: 18px;
    font-family: 'RobotoBoldCondensed', Arial, Helvetica, sans-serif;
}
.cuento_label_sub{
    color: #485b79;
    font-weight:lighter;
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}
.cuento_input{
    background-color: white !important;
    margin: 2px 0px;
    padding: 5px 5% !important;
    width: 90% !important;
    color: #485b79 !important;
}
.cuento_escribe{
    width:90%;
    background-color: #0057a8 !important;
    line-height: 35px;
    padding: 0px 5%;
    color: white !important;
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    height:35px;
}
.cuento_textarea{
    background-color: #0057a8 !important;
    color: white !important;
    margin: 0px 0px;
    padding: 5px 5% !important;
    border: none;
    width: 90% !important;
}
/*----------------KIDS CUENTO------------*/

.cuento_box{
    /*width: 28%;*/
    /*width: 196px;
    height: 230px;*/
    width: 170px;
    /*height: 200px;*/
    min-height:200px;;
    height: auto;
    float: left;
    margin: 5px;
    margin-left: 10px;
    padding: 10px;
    /*min-height: 200px;*/
    /*min-width: 214px;*/
    /*min-width: 191px;*/
    background-color: #0084ff;
    color: white;
    word-wrap:break-word;
    margin-bottom: 0%;
}
.cuento_box2{
    /*width: 28%;*/
    /*width: 196px;
    height: 230px;*/
    width: 170px;
    min-height:200px;;
    height: auto;
    float: left;
    margin: 5px;
    margin-left: 10px;
    padding: 10px;
    /*min-height: 200px;*/
    /*min-width: 214px;*/
    /*min-width: 191px;*/
    background-color: #0084ff;
    color: white;
    word-wrap:break-word;
    margin-bottom: 0%;
}
.cuento_box i.icon{
    opacity: 1 !important;

}
.cuento_title{
    width: 100%;
    height: auto;
    /*font-size: 21px;*/
    font-size: 18px;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cuento_by{
    width: 100%;
    height: auto;
    /*font-size: 18px;*/
    font-size: 16px;
    color:#c8e4ff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cuento_age{
    width: 100%;
    height: auto;
    /*font-size: 14px;*/
    font-size: 14px;
    color:#c8e4ff;
}
.cuento_image{
    width: 100%;
    background-color: white;
    /*height: 55%;*/
    height: 112px;
    margin-bottom: 5px;
    overflow: hidden;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.cuento_image img{
    width: 170px;
    height: auto;
    border: none;
    opacity: 0;
}
.cuento_opciones{
    color:#c8e4ff;
    margin-top: 3%;
    margin-left: 3%;
    width:45%;
    vertical-align: middle;
    font-size: 14px !important;
    float: left;
}
.cuento_opciones2{
    color:#c8e4ff;
    margin-top: 3%;
    margin-left: 3%;
    width:35%;
    vertical-align: middle;
    font-size: 14px !important;
    float: left;
}
.cuento_opciones2 img{
    width: 25%;
}
.cuento_opciones img{
    width: 25%;
    margin-right: 5%;
}
.cuento_opciones2 span{
    margin-left: 5px;
}
.cuento_love{
    color: #c8e4ff;
    margin-top: 3%;
    vertical-align: middle;
    font-size: 14px !important;
    float: left;
    margin-left:5% ;
    cursor: pointer;
}
.cuento_love img{
    width: 60%;
    margin-right: 5%;
}

.cuento_admin_options{
    margin-top: 3%;
    width:32%;
    float: left;
    text-align: center;
    border-left:1px solid white;
}
.cuento_admin_options a{
    color: inherit;
    text-decoration: none;
}
.cuento_admin_options:first-child{
    border: none !important;
}

/*-------------------PAPAS HISTORIAS---------*/
.resize_container {
    width: 680px;
    /* height: 550px; */
    height: 500px;
    /* background-color: green; */
}
.cuentos_resize{
    width:830px;
    height:350px;
}
#pizarron_historias{
    width:700px;
    height: 436px;
    /*margin: auto;*/
    background-size: 100% 100%;
    padding: 6% 0%;
    padding-bottom: 3%;
    background-image: url(http://localhost:8000/img/pizarron2.png);
    background-repeat: no-repeat;
    background-position: top center;

}
.historia_box{
    width: 181px;
    /*height:130px;*/
    min-height: 130px;
    height: auto;
    position: relative;
    /* min-width: 148px;*/
    float: left;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 9%;
    padding: 10px;
    /* min-height:150px;*/
    background-image:url("../img/historia.png") ;
    background-size: 100% 100%;
    background-position: center center;
    color: black;
    word-wrap:break-word;
    overflow: auto;
}
#pizarron_historias{
    background-size: 100% 100%;
    padding: 6% 0%;
    padding-bottom: 3%;
    background-repeat: no-repeat;
    background-position: top center;

}
.historia_title{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    font-size: 1.5em;

}
.historia_info{
    width: 100%;
    text-align:left;
    font-size: 1rem;
    padding-bottom:10px;
    max-height: 44px;
    overflow: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.historia_option_wrap{
    margin-top: 9%;
    color: #FF007B;
    position: absolute;
    bottom: 5px;
    width: 90%;
}
.historia_option_wraphist{
    margin-top: 9%;
    color: #FF007B;
    position: absolute;
    bottom: 5px;
    right: 15px;
    text-align: right;
    cursor: pointer;
}
/*-------------------VIDEOS------------*/
.video_box{
    /*width: 31%;*/
     position: relative;
    float: left;
    margin: 5px;
    margin-left: 5%;
    margin-bottom: 9%;
    padding: 10px;
    width: 271px;
    height: 200px;
    background-image:url("../img/video_box.jpg") ;
    background-size: 100% 100%;
    background-position: center center;
    color: white;
}

.video_mbottom{
    margin-bottom: 0%;
}
.video_title{
    font-size: 21px;
}
.video_by{
    font-size: 1rem;
    color: #90a3b5;
}
.video_age{
    font-size: 1rem;
    color: #90a3b5;
}
.video_option_wrap{
    position: absolute;bottom: 25px;right:10px;
    width: 270px;
    margin: auto;
}
.video_option_wrap a{
    color:#afc0d8;
}
.video_admin_options{
    width: 33%;
    float: left;
    text-align: center;
}
/*-----------------------------------------------------BUTTON----------------------------------------*/
.fileUpload {
    position: relative;
    overflow: hidden;
    width: 50%;
    background-color: #0057a8;
    border: 1px solid #0057a8;
    color:white;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px;

}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/*-------------PAGINATION-----------*/
a.disabled {
    pointer-events: none;
    cursor: default;
}
a.active{
    font-weight: bold;
}
/*NUMBER_PAGES*/

.number_page{
    margin:auto;
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #0057a8;

}
.number_page li{
    padding: 0px 5px;
}
.number_page li img{
    vertical-align: middle;
}
.number_page a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}
.pagination_wrap{
    width:100%;
    float:left;
    height:50px;
    text-align: center;
    line-height: 50px;
    padding-bottom: 10px;

}
.pagination_wrap ul{
    display:inline-block!important;
    zoom:1;
    vertical-align:top;
    margin-top: 0px !important;
}
.pagination_wrap li{
    display:inline-block!important;
    zoom:1;
    vertical-align:top;
}


/*-------------MY STYLE-------*/
.table.dataTable thead .sorting {
    background: url("/img/icons/sort_both.png") no-repeat center right !important;
}


/*--------------------------------------------------LIGHTBOX----------------------*/
/*GALERIA INSIDE CUENTOS*/
.slider{
    height:100px;
    width:100%;
    text-align: center;
    background-color: rgba(255,255,255,.8);
}
.thumb_images_wrap{
    width: 100%;
    margin: 0px;
    padding: 0px;

}
.thumb_images_wrap li{
    list-style: none;
    display: inline-block!important;
    padding: 5px;
}
.thumb_images_wrap img{
    max-height: 90% !important;
}
.hidden_cuento_title h2,h4,h5{
    margin: 5px;
}
/*---------------------------------------------------*/
.hidden_evaluar{
    position: relative;
    display: none;
    color:inherit;
    min-width: 200px;
    width: 60%;
    min-height: 90%;
    max-height: 90%;
    height: auto;
    text-align: center;
    margin:auto;
    overflow: auto;
    font-family: 'Opensansreg' !important;
    font-size: 16px;
}
.evaluar_title{
    position: relative;
    z-index: -1;
    color: lawngreen;
    font-family: Mandingo;
    font-size: 36px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    min-height: 100px;
    line-height: 100px;
}
.evaluar_cutitle{
    width: 100%;
    margin: auto;
    color: white;
}
.evaluar_desc_wrap{
    width:150px;
    margin: auto;
}
.evaluar_name{
    width: 100%;
    margin: auto;
    color: #90a3b5;
}
.evaluar_age{
    width: 100%;
    margin: auto;
    color: #90a3b5;
}
.evaluar_column{
    margin-top: 5%;
    width:33.3%;
/*background-color: green;*/
    height: auto;
    color: #90a3b5;
    text-align: center;
    text-transform: uppercase;
    float: left;
}
.title_cucolumn{
    display: inline-block;
    color: white;
    width: 100%;
}
.evaluar_column input[type="text"]{
    display: inline-block;
    width: 70%;
    margin: auto;
    font-size: 32px;
    text-align: center;
    height: 50px;
}
.evaluar_btn_wrap{
    width: 100%;
    float: left;
    height: auto;
    text-align: center;
    margin-top: 10%;
}
.evaluar_btn,.evaluar_btn_ch{
    width: 100px;
    padding: 5px 15px;
    background-color: white;
    color: blue;
    margin: auto;
    cursor: pointer;
}

/*FOR cuentos Lightbox*/

.hidden_cuento{
    position: relative;
    display: none;
    color:#0057a8;
    min-width: 200px;
    width: 60%;
    min-height: 90%;
    max-height: 90%;
    height: auto;
    text-align: center;
    background-color: rgba(40,116,167,.7);
    margin:auto;
    overflow: auto;
    font-family: 'Opensansreg' !important;
    font-size: 16px;
}
.hidden_cuento_title{
    width:100%;
    min-height:50px;
    height:auto;
    text-align: center;
}
.hidden_cuento_title h2,h5{
    font-family: 'Opensansreg' !important;
}
.cuento_first_wrap{
    position: relative;
    width: 95%;
    display: inline-block;
    margin-top: 3%;
    min-height: 30%;
    max-height: 30%;
    height: auto;
    background-color: #e5f5ff;
}
.cuento_first_wrap img{
    height: auto;
    max-width: 100%;
    max-height: 50%;
    width: auto;
}
.cuento_second_wrap{
    position: relative;
    width: 95%;
    display: inline-block;
    margin-top: 3%;
    min-height: 20%;
    max-height: 20%;
    overflow: auto;
    height: auto;
    background-color: #0057a8;
    color: white;
    text-align: left;
}
.cuento_second_wrap_title{
    width:95%;
    margin: auto;
    margin-top: 5px;
    min-height:20px;
    height:auto;
    text-align:left;
}
/*FOR HIstories Lightbox*/
.hidden_history{
    display: none;color:
    white;

    min-width: 200px;
    width: 60%;
    min-height: 100%;
    text-align: center;
    height: auto;
    margin:auto;
    background-image:url("../img/history_blank.png") ;
    background-repeat: no-repeat;
    background-size: 100% 95%;
    background-position: bottom center;

}
.hidden_history_title{
    width:40%;
    background-image:url("../img/history_headpink.png") ;
    background-size: 100% 100%;
    background-position: center center;
    min-height:50px;
    padding: 5px;
    height:auto;
    margin: auto;
    text-align: center;
    word-wrap: break-word;

}
.hidden_history_content{
    color:#686868;
    width: 70%;
    margin-left:3%;
    text-align: left;
    margin-top: 12%;
    font-size: 16px;
    padding-bottom: 40px;
}
/*FOR VIDEOS Lightbox*/
.hidden_video{
    display: none;color:
    white;min-width: 100%;
    min-height: 100%;
    text-align: center;
}
.hidden_video_title{
    width:100%;
    min-height:50px;
    height:auto;
    text-align: center;
}
.select_filter{
    width: 100px;
    border: none;
    padding: 5px;
    background-color: white;
}
/*--------------------PRESELECT DETAIL-----*/
.preselect_detail_info{
    width:96%;
    height:auto;
    background-color: #CBE6FE;
    border:1px solid #5195d6;
    padding:5px 2%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color:  #32415a;
}
@media all and (min-width : 318px) and (max-width : 614px) {
    .loginbox{
        width: 95%;
        min-width:95%;
    }
}