/*CSS*/
/* new clearfix */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
html .clearfix { zoom: 1; } /* IE6 */
html:first-child+html .clearfix { zoom: 1; } /* IE7 */

@font-face {
    font-family: 'Mandingo';
    src: url('../fonts/MANDINGO.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MANDINGO.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MANDINGO.woff') format('woff'), /* Modern Browsers */
    url('../fonts/MANDINGO.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MANDINGO.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Opensansreg';
    src: url('../fonts/OpenSans-Regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), /* Modern Browsers */
    url('../fonts/OpenSans-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/OpenSans-Regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

}
a, img {
    border:none;
    outline:none
}
a{
    text-decoration: none;
    color: inherit;
}
select::-ms-expand {
    display: none;
}
html,body{
    margin:0px;
    padding:0px;
    min-height: 100%;
    font-family: 'Opensansreg';
    height:auto;
    overflow: auto;
    /*overflow-x: hidden;*/

}
.invisible{
   visibility: hidden;
    display:none!important;
   /* position:absolute;
    bottom: 0px;
    left: 0;
    z-index: -3;*/
}
body{
    padding-top: 110px;
    background-image:url("../img/bg_land.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow-x: hidden;
}
@keyframes MOVE-BG{
    0% {
        background-position: 1000% 5%;
    }

    100% {
        background-position: 5% 5%;
    }
}
@keyframes MOVE-BG{
    from {
        background-position: 1000% 5%;
    }

    to {
        background-position: 5% 5%;
    }
}
@-webkit-keyframes MOVE-BG {
    from {
        background-position: 1000% 5%;
    }

    to {
        background-position: 5% 5%;
    }
}
.bg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 90%;
    background: url(../img/nubes_bg.png) 0% 0% repeat;
    background-size: contain;
    z-index: -3;

    -webkit-animation-name: MOVE-BG;
    animation-name: MOVE-BG;
    animation-duration: 200s;
    animation-iteration-count: infinite;
    timing-function: linear;
    -webkit-animation-duration: 200s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.bg_adition{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -2;
    padding: 0% 18%;
}
.bg_adition img{
    position: absolute;
    bottom: 5%;
    margin-left: 2%;
}
.center_container{
    width:950px;
    height: auto;
    margin: auto;
}
.align_center{
    text-align: center !important;
}
.align_center img{
    max-width: 100%;
    max-height: 15%;
    margin-bottom: 15%;

}
.align_center_moreheight img{
    max-height: 18% ;
    margin-bottom: 0px;
}
.column img{
    max-width: 100%;

}
.center_text img{
    max-height: 65%;
}

.center_text{
    width: 100%;
    text-align: center !important;
}
.menu_active{
   /* background-color: #00305D;*/
    color:#D7ECEF;

}
.login_ul{
    width: 50px !important;
}
#Left_bar{
    z-index: 90!important;
    position: relative;
    float:left !important;
    display:block !important;
}
#Left_bar img{
    margin:0;
    display:block;
    margin: auto;
}
.footer{
    /*background-image: url("../img/footer.png");*/
    background-repeat:repeat-x;
    background-size:contain;
    background-position:center;
    display: inline-block;
    width: 100%;
    position: fixed;
    bottom: 0px;
    /*margin-top: 10px;^*/
    margin-top: 0px;
    min-height: 30px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.text_right{
    text-align: right !important;
}
.Action_bar{
    width: 100%;
    height:40px;
    /* background-color:#000c7d;*/
    background-color:white;
    position: fixed;
    top:70px;
    color: black;
    z-index: 99;
}
.Topbar{
    width: 100%;
    height:70px;
   /* background-color:#000c7d;*/
    background-color:#0057a8;
    position: fixed;
    top:0px;
    z-index: 9999;
    color: white;
}
.Topbar a{
    color: inherit;
    text-decoration: none;
}
#center_topbar{
    position: relative;
    margin-top: 0;
}
#center_actionbar{
    margin-top: 0;
}
#center_actionbar input[type="text"]{
    float:right;
    min-height:100%;
    width: 136px;
    height: 25px;
    margin-top: 5px;
    border: 1px solid #f8f6f6;
    padding-right: 47px;
    background-image:url("../img/triangle_search.png");
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
}
#center_actionbar select {
    border-radius: 0;
    min-height:100%;
    height: 29px;
    width: 185px;
    margin-top: 5px;
    background:white;
    padding: 5px;
    font-size: 13px;
    line-height: 100%;
    border: 1px solid #f8f6f6;
    padding-right: 47px;
    background-image:url("../img/triangle_filter.png");
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0px;
}

.logo{
    width:auto;
    float: left;
}
.logo img{
    max-height: 65px;
    margin-top: 4px;
}
#nav
{
    /* container */
}
#nav > a
{
    display: none;
}
#nav li
{
    position: relative;
    line-height: 70px;
    font-size: 12px;
}

/* first level */

#nav > ul
{
    float: right;
    /*width:642px;*/
    /*width:449px;*/
    width:510px;
    height: 100%;
    /*height: 3.75em;*/
}
#nav > ul > li
{
    height: 100%;
    float: left;
    list-style: none;
    list-style: none;
    list-style-type: none;
    display: inline;
    text-align: center;

    padding: 0 30px;
    line-height: 30px;
    margin-bottom: 2px;
    -webkit-transition: all .2s ease-in-out;
    text-align: left;
    text-transform: uppercase;
    /*width: 53px;*/
    border-right: 1px solid #fff;
}
#nav > ul > li:last-child{
    border: none;
    padding-right: 0;
}
.Title_section{
    position: relative;
    z-index: -1;
    color: deeppink;
    font-family: Mandingo;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    font-size: 36px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    /*min-height: 50px;
        line-height: 150px;                */
    min-height: 100px;
    line-height: 100px;
}
.papalote{
    position: absolute !important;
    z-index: -1;
    top: 8% !important;
    right:-100px !important;
    max-height: none !important;
    max-width: none!important;
}
.extra_sidebar{
    min-height:100px;
    max-height: 100px !important;
    vertical-align: middle;
}
.extra_sidebar img{
    display: inline-block;

}
#content_wrap{
    /*margin-top: 4%;*/
    margin-top: 0%;
}
/*-------MENU MOBIL-----*/
.toggle_menu{
    float: right;
    font-size: 36px;
    margin-top: 4%;
}
.toggle_menu i.icon{
    opacity: 1 !important;
}
/*-------------PAGINATION-----------*/
a.disabled {
    pointer-events: none;
    cursor: default;
}
a.active{
    font-weight: bold;
}
/*NUMBER_PAGES*/

.number_page{
    margin:auto;
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #0057a8;

}
.number_page li{
 padding: 0px 5px;
}
.number_page li img{
    vertical-align: middle;
}
.pagination_wrap{
    width:100%;
    float:left;
    height:50px;
    text-align: center;
    line-height: 50px;
    padding-bottom: 10px;

}
.pagination_wrap ul{
    display:inline-block!important;
    zoom:1;
    vertical-align:top;
    margin-top: 0px !important;
}
.pagination_wrap li{
    display:inline-block!important;
    zoom:1;
    vertical-align:top;
}
/*FOR cuentos Lightbox*/

.hidden_cuento{
    position: relative;
    display: none;
    color:#0057a8;
    min-width: 200px;
    width: 60%;
    min-height: 90%;
    max-height: 90%;
    height: auto;
    text-align: center;
    background-color: rgba(40,116,167,.7);
    margin:auto;
    overflow: auto;
}
.hidden_cuento_title{
    width:100%;
    min-height:50px;
    height:auto;
    text-align: center;
}
.cuento_first_wrap{
    width: 95%;
    display: inline-block;
    margin-top: 3%;
    /*min-height: 30%;
    max-height: 30%;*/
    /*height: 400px !important;*/
    height:auto;
    background-color: #e5f5ff;
}
.cuento_first_wrap img{
    height: auto;
    max-width: 100%;
    /*max-height: 100%;*/
    max-height: 50%;
    width: auto;
}
.cuento_second_wrap{
    width: 95%;
    display: inline-block;
    margin-top: 3%;
    min-height: 20%;
    max-height: 20%;
    overflow: auto;
    height: auto;
    background-color: #0057a8;
    color: white;
    text-align: left;
}
.cuento_second_wrap_title{
    width:95%;
    margin: auto;
    margin-top: 5px;
    min-height:20px;
    height:auto;
    text-align:left;
}

/*GALERIA INSIDE CUENTOS*/
.slider{
    height:100px;
    width:100%;
    text-align: center;
    overflow: auto;
    background-color: rgba(255,255,255,.8);
}
.thumb_images_wrap{
    width: 100%;
    margin: 0px;
    padding: 0px;
    max-height: 90px;
    overflow:hidden;
    overflow-x: auto;
}
.thumb_images_wrap li{
    list-style: none;
    display: inline-block!important;
    padding: 5px;
}
.thumb_images_wrap img{
    max-height: 90%;
    max-height: 90px;
}
.hidden_cuento_title h2,h4,h5{
    margin: 5px;
}


/*FOR VIDEOS Lightbox*/
.hidden_video{
    display: none;color:
    white;min-width: 100%;
    min-height: 100%;
    text-align: center;
}
.hidden_video_title{
    width:100%;
    min-height:50px;
    height:auto;
    text-align: center;
}
/*FOR HIstories Lightbox*/
.hidden_history{
    display: none;color:
    white;

    min-width: 200px;
    width: 60%;
    min-height: 100%;
    text-align: center;
    height: auto;
    margin:auto;
    background-image:url("../img/history_blank.png") ;
    background-repeat: no-repeat;
    background-size: 100% 95%;
    background-position: bottom center;

}
.hidden_history_title{
    width:40%;
    background-image:url("../img/history_headpink.png") ;
    background-size: 100% 100%;
    background-position: center center;
    min-height:50px;
    height:auto;
    margin: auto;
    text-align: center;
    word-wrap: break-word;

}
.hidden_history_content{
   color:#686868;
    width: 70%;
    margin-left:3%;
    text-align: left;
    padding-bottom: 40px;
}

/*----------------KIDS CUENTO------------*/
.resize_container{
    width:680px;
    /*height:550px;*/
    height:500px;
    margin: auto;
    /*background-color: green;*/
}
.resize_container_cuento{
    width:615px;
}
.cuento_box{
    /*width: 28%;*/
    /*width: 196px;
    height: 230px;*/
    width: 170px;
    /*height: 200px;*/
    min-height:200px;;
    height: auto;
    float: left;
    margin: 5px;
    margin-left: 10px;
    padding: 10px;
    /*min-height: 200px;*/
    /*min-width: 214px;*/
    /*min-width: 191px;*/
    background-color: #0084ff;
    color: white;
    word-wrap:break-word;
    margin-bottom: 0%;
}
.cuento_box i.icon{
    opacity: 1 !important;

}
.cuento_title{
    width: 100%;
    height: auto;
    /*font-size: 21px;*/
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cuento_by{
    width: 100%;
    height: auto;
    /*font-size: 18px;*/
    font-size: 16px;
    color:#c8e4ff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cuento_age{
    width: 100%;
    height: auto;
    /*font-size: 14px;*/
    font-size: 14px;
    color:#c8e4ff;
}
.cuento_image{
    width: 100%;
    background-color: white;
    /*height: 55%;*/
    height: 112px;
    margin-bottom: 5px;
    overflow: hidden;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.cuento_image img{
    width: 170px;
    /*height: 112px;*/
    height: auto;
    border: none;
    opacity: 0;
}
.cuento_opciones{
    color:#c8e4ff;
    margin-top: 3%;
    vertical-align: middle;
    font-size: 14px !important;
    float: left;
}
.cuento_opciones img{
    width: 25%;
    margin-right: 5%;
}
.cuento_views{
    width: 20% !important;
    margin-right: 10% !important;
}
.btn_blue{
    background-color: #0057a8 !important;
    color: white !important;
    border:none;
    padding: 5px 10px !important;
    width:auto !important;
}
/*----------------KIDS VIDEO------------*/
.video_box{
    /*width: 31%;*/

    float: left;
    margin: 5px;
    margin-left: 5%;
    margin-bottom: 9%;
    padding: 10px;
    width: 271px;
    height: 200px;
    background-image:url("../img/video_box.jpg") ;
    background-size: 100% 100%;
    background-position: center center;
    color: white;
}

.video_mbottom{
    margin-bottom: 0%;
}
.video_title{
    font-size: 21px;
}
.video_by{
    color: #90a3b5;
}
.video_age{
    color: #90a3b5;
}
/*.cuento_box i.icon{
    opacity: 1 !important;

}
.cuento_title{
    width: 100%;
    height: auto;
    font-size: 21px;
}
.cuento_by{
    width: 100%;
    height: auto;
    font-size: 18px;
}
.cuento_age{
    width: 100%;
    height: auto;
    font-size: 14px;
}
.cuento_image{
    width: 100%;
    background-color: white;
    height: 150px;
    margin-bottom: 5px;
    overflow: hidden;
}*/

/*------------------KIDS BASES--------------*/


/*-------------------PAPAS HISTORIAS---------*/
.historia_box{
    position: relative;
    width: 181px;
    /*height:130px;*/
    min-height: 130px;
    height: auto;
   /* min-width: 148px;*/
    float: left;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 9%;
    padding: 10px;
   /* min-height:150px;*/
    background-image:url("../img/historia.png") ;
    background-size: 100% 100%;
    background-position: center center;
    color: black;
    word-wrap:break-word;
}
#pizarron_historias{
    background-size: 100% 100%;
    padding: 6% 0%;
    padding-bottom: 3%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;

}
.historia_title{
    width: 70%;
     margin: auto;
    text-align: center;
    margin-top: 10%;
    font-size: 1.5em;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.historia_info{
    width: 100%;
    text-align:left;
    font-size: 1em;
    padding-bottom:10px;
    max-height: 44px;
    overflow: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.historia_likeview_wrap{
    position: absolute;
    bottom: 0px;
}
.historia_likeview_wrap img{
    max-height: 16px;
}
.historia_likeview_wrap span{
   font-size: 14px;
    color: #cdc3cd;
}
.historia_like{
    cursor: pointer;
}
/*PREMIACION*/
.imagen_absoluta{
    position: fixed;
    margin-top:500px;
}
.ganador_box{
    width: 25%;
    float: left;
    /*margin-left:6.25%;*/
    /*margin-left:10.25%;*/
    margin-left:8.25%;
    /*margin-bottom: 6.25%;*/
    margin-bottom: 0%;
    padding: 10px;
    /*min-width: 234px;
    min-height: 297px;*/
    /*width: 206px;
    height:261px;*/
    width: 165px;
    height:209px;
    background-size:100% 100%;
    background-position: center center;
    color:#2b9fa4;
    word-wrap:break-word;
}
.ganador_title{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 30%;
    font-size: .9em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ganador_info{
    width: 60%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: .8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ganador_age{
    width: 60%;
    margin: auto;
    text-align: center;
    font-weight: bold;
}
.ganador_1{
    background-image:url("../img/ganador1.png") ;
}
.ganador_2{
    background-image:url("../img/ganador2.png") ;
}
.ganador_3{
    background-image:url("../img/ganador3.png") ;
}
.ganador_4{
    background-image:url("../img/ganador4.png") ;
}
.ganador_5{
    background-image:url("../img/ganador5.png") ;
}
.ganador_6{
    background-image:url("../img/ganador6.png") ;
}

/*GALERIA*/
.content_gallery{
    position: relative;
   display: inline-block;
    width:100%;
    height:auto;
    padding: 16% 0px ;
    background-color: rgba(152,195,233,.7);

}

.code_wrap{
    position: absolute;
    right: 5%;
    top:5%;
    min-width: 100px;
    color: white;
    text-align: center;
    width:20%;
    height:5%;

}
.code_wrap input[type="text"]{
    border:none;
    width: 100%;
    height: 90%;
    margin-top: 3%;
    background-color: #98c3e9;
    color: white;
    text-align: center;

}
#preview {
    display: inline;
}
#preview-coverflow .cover {
    cursor:		pointer;
    width:		320px;
    height:		240px;
}
#preview-coverflow .cover {
    z-index: 1;
}
.cover_flow_content{
    width:100%;
    min-height:100%;
    position:relative;
}
.photos-name{

    width: 100%;
    text-align: center;
    margin-top: 15%;
    color:white;
    font-weight: bold;
}




/* Smartphones (portrait and landscape) ----------- */
/*--480 en lugar de 614--*/
@media all and (min-width : 318px) and (max-width : 614px) {
    .ganador_box{
        width: 189px;
        height: 240px;
    }
    .ganador_title{
        margin-top: 20%;
    }
    #nav > a
    {
        margin-top: 0px;
    }
    #nav:not( :target ) > a:first-of-type,
    #nav:target > a:last-of-type
    {
        display: block;
    }

    /* first level */

    #nav > ul
    {
        background-color: #0057a8;
        margin:0px;
        padding: 0px;
        height: auto;
        display: none;
        position: absolute;
        left: -20px;
        top:110px;
        z-index:99999 !important;
    }
    #nav:target > ul
    {
        display: inline-block;
    }
    #nav > ul > li
    {
        width: 100%;
        float: left;
        display:block;
    }

    /* Styles */
    .footer{

        background-size:cover;
        background-position:center;

    }
    .disclaimer{
        float:left;
        font-size: 10px !important;
    }
    #center_actionbar input[type="text"]{

        width: 30%;

    }
    #center_actionbar select {

        width: 45%;

    }
    .resize_container{
        width:100%;
        height:auto;
        margin: auto;

    }
    /*.cuento_box{
      width:80%;
    }*/
    .historia_box{
        width:60%;
    }
    .video_box{
        /*width:80%;*/
        margin-left: 5%;
        width: 205px;
        height: 150px;
    }
    #preview-coverflow .cover img{
        max-width: 100%;
    }
    .content_gallery{

        padding: 0% 0px ;


    }
    /*FOR cuentos Lightbox*/

    .hidden_cuento{
        position: relative;
        display: none;
        color:#0057a8;
        min-width: 200px;
        width: 100%;
        min-height: 90%;
        max-height: 90%;
        height: auto;
        text-align: center;
        background-color: rgba(40,116,167,.7);
        margin:auto;
        overflow: auto;
    }
    .hidden_video{
        width:100%;
    }
    /*HISTORY*/
    .hidden_history{
       width:90%;

    }

    /*GALLERY MOBILE */
    .cover_flow_content img{
        max-width: 50%;
        height: auto;
    }
    .content_gallery{
        padding-bottom: 25%;
    }

    #preview {
        display: flex;
        padding-top:30% ;
    }
    .code_wrap{
        font-size: 10px;
    }
    .content_gallery{
        height: auto;
    }
}
/* iPads (portrait and landscape) ----------- */
/*--481 en lugar de 615--*/
@media all and (min-width : 615px) and (max-width :836px) {
    /* Styles */
    #nav > ul
    {

        width:70% !important;
        padding-left:0px;
        /*height: 3.75em;*/
    }
    #nav > ul > li
    {
        /*padding: 0 1%;*/
        /*height: 3.75em;*/
    }




}
@media all and (min-width : 837px) and (max-width : 857px) {
    #nav > ul
    {
        float: right;
        width:60% !important;
        height: 100%;
        /*height: 3.75em;*/
    }
}

